body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 40px 20px;
background: cornflowerblue;
}

.container {
max-width: 900px;
margin: 0 auto;
background-color: white;
padding: 40px;
border-radius: 20px;

}

button{
background-color: rgba(162, 255, 235, 0.546);
}

.num{
display: flex;
justify-content: center;
}