body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 40px 20px;
background: #333;
color: whitesmoke;
}

.container {
max-width: 900px;
margin: 0 auto;
background-color: #1d224d;
padding: 40px;
border-radius: 20px;

}

button{
max-width: 200px;
margin: 0 auto;
background-color: #1d224d;
padding: 20px;
border-radius: 20px;
color: whitesmoke;

}

.num{
display: flex;
justify-content: center;
}

.num{
max-width: 900px;
margin: 0 auto;
background-color: #ddd;
;
padding: 40px;
border-radius: 20px;

}

.panel{
    color: whitesmoke;
  max-width: 900px;
margin: 0 auto;
background-color:#ddd;
font-size: 20px;
padding: 40px; 
 background:var(--panel); 
	border:1px solid rgba(255,255,255,.08); 
	border-radius:18px; 
	padding:18px
}


.score{
	display:flex; 
	flex-wrap:wrap; 
	gap:10px; 
	justify-content:center; 
	margin-top:14px;
  font-size: 20px;
}

.MArk{
  display: flex;
justify-content: center;
}


.AArk{
  display: flex;
justify-content: center;
}

.KKrk{
  display: flex;
justify-content: center;
}


.LLrk{
  display: flex;
justify-content:center;
}


